<div class="Panel__wrapper" ng-controller="PanelCtrl">
    <div class="Panel__user">
        <div class="User__image" style="background-image: url(assets/images/user.jpg)"></div>
        <div class="User__name">{{User.firstName}} {{User.lastName}}</div>
        <div class="clearfix"></div>
    </div>
    <div class="Panel__block">
        <ul class="Panel__options">
            <li>
                <a href="" class="active">
                    <div class="Option__image feed"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">News Feed</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="Option__image messenger"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">Messenger</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="Panel__block">
        <h3 class="Panel__title">SHORTCUTS</h3>
        <ul class="Panel__options">
            <li>
                <a href="">
                    <div class="Option__image frontend"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">Frontend.pe</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="Option__image backend"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">Backend.pe</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="Option__image gostartup"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">GoStartup - E.W</div>
                </a>
            </li>
        </ul>
        <a href="" class="Panel__more">
            <div class="More__icon">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="More__text">See more...</div>
        </a>
    </div>
    <div class="Panel__block">
        <h3 class="Panel__title">EXPLORE</h3>
        <ul class="Panel__options">
            <li>
                <a href="">
                    <div class="Option__image thisDay"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">On This Day</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="Option__image pageFeed"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">Pages Feed</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="Option__image events"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">Events</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="Option__image groups"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">Groups</div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="Option__image pages"
                         style="background-image: url(assets/images/Facebook_images.png)"></div>
                    <div class="Option__name">Pages</div>
                </a>
            </li>
        </ul>
        <div class="Panel__more">
            <div class="More__icon">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="More__text">See more...</div>
        </div>
    </div>
</div>
