.Login__wrapper {
    height: 100%;
    .Login__shadow {
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, .5);
        .Login__center {
            position: absolute;
            width: 100%;
            top: 50%;
            @include transform(translateY(-50%));
            .Login__title {
                text-align: center;
                color: white;
                font-family: font9;
                font-size: 22px;
                margin-bottom: 15px;
            }
            .Login__form {
                margin: 0 auto;
                width: 400px;
                padding: 20px;
                background-color: white;
                .Form__content {
                    margin-bottom: 30px;
                    .Form__input {
                        margin-bottom: 15px;
                        label {
                            font-family: font8;
                            font-size: 12px;
                            color: rgb(100, 100, 100);
                            display: block;
                            margin-bottom: 5px;
                        }
                        input {
                            border: 1px solid rgb(230, 230, 230);
                            width: 100%;
                            height: 35px;
                            padding: 0 15px;
                            font-family: font8;
                            font-size: 12px;
                        }
                        span {
                            font-size: 12px;
                            font-family: font9;
                            color: $red;
                        }
                    }
                }
                .Form__button {
                    .Button__general {
                        width: 100%;
                        padding: 10px 0;
                        height: 39px;
                    }
                }
            }
        }
    }
}
